body {
}

.page-container {
  width: 100vw;
  display: grid;
  /* grid-template-columns: 1fr 0.5fr; */
  grid-template-columns: minmax(0, 1fr) 0.5fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
}

.page_banner-container {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  width: 100%;
}
.page_sidebar-container {
  grid-area: 1 / 2 / 3 / 3;
}
.page_content-container {
  grid-area: 2 / 1 / 3 / 2;
}
