* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOADING STATE */
.Dashboard-loading {
  height: 1000px;
  width: 100%;
  background-color: black;
}

/*  */

.body {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Dashboard-image {
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  background-size: cover;

  width: 100%;
  z-index: -10000;
}

.Dashboard {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.5fr;
  grid-template-rows: 0.2fr 0.8fr 0.2fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.Dashboard-navBar {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dashboard-banner-left {
  grid-area: 2 / 1 / 3 / 2;
}

.Dashboard-banner-right {
  grid-area: 2 / 2 / 3 / 3;
}

.Dashboard-infos {
  grid-area: 2 / 3 / 3 / 4;
}

.Dashboard-btns {
  grid-area: 3 / 1 / 4 / 4;
  margin: 10px 0;
}

.Dashboard-cards {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}
