.bannerContainer {
  width: 100%;
  padding: 0 10px 0 0;
  max-height: 500px; /* Limita a altura do banner */
  overflow: hidden;
}

.bannerItem {
  position: relative;
  width: 100%;
  height: 400px;
}

.bannerItem img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha sem distorcer */
}

/* Conteúdo sobreposto à imagem */
.banner-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.bannerContent h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
